* {
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0;
}

footer {
  padding: 0.5rem;
  box-sizing: border-box;
}

:root {
  --clr-back: #ddd;
}

.nav {
  /* declaration of navbar animation parameters */
  --_animationStartsAfter: 100px;
  --_animationDistance: 250px;
  --_surfaceColorStart: hsl(0 10% 5%);
  --_surfaceColorEnd: hsl(0 50% 100%);
  --_textColorStart: hsl(0 10% 90%);
  --_textColorEnd: hsl(0 10% 10%);
  color: var(--_textColorStart);
  background-color: var(--_surfaceColorStart);
  padding: 0 1%; /* padding: top/bottom left/right */
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  position: sticky;
  z-index: 1000;
  top: 0;
  animation: stickyNav linear forwards;

  /* if browser supports animation-timeline, enable animation */
  @supports (animation-timeline: view()) {
    animation-timeline: view();
    animation-range-start: calc(100vh + var(--_animationStartsAfter));
    animation-range-end: calc(
      100vh + var(--_animationStartsAfter) + var(--_animationDistance)
    );
  }
  /* animation of  navbar logo, but only change one color filling */
  .logo {
    height: 20px;
    /*.st0 {
      fill: currentColor;
    }*/
    .st1 {
      fill: currentColor;
    }
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;

    /* make clickable text area bigger by creating box around it*/
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 10px;
    margin: -10px;

    &:hover,
    &:focus {
      color: grey;
      text-decoration: none;
    }
  }

  .navlist {
    display: flex;
    li {
      list-style: none;
      position: relative;
      padding: 0 10px; /* padding: top/bottom left/right */

      ul {
        display: none;
        position: absolute;
      }
    }

    .selected {
      color: orange;
    }

    /*dropdown menu organized as unordered list nav li ul li ul*/
    li:hover ul {
      display: flex;
      position: absolute;
      flex-direction: column;
      padding: 10px;
      left: -10px;
      gap: 10px;
      color: var(--_textColorStart);
      background-color: var(--_surfaceColorStart);
      animation: stickyNav linear forwards;

      @supports (animation-timeline: view()) {
        animation-timeline: view();
        animation-range-start: calc(100vh + var(--_animationStartsAfter));
        animation-range-end: calc(
          100vh + var(--_animationStartsAfter) + var(--_animationDistance)
        );
      }
    }
  }
}

@keyframes stickyNav {
  100% {
    color: var(--_textColorEnd);
    background-color: var(--_surfaceColorEnd);
    box-shadow: 0 0 0.75rem hsl(0 0% 0% / 0.3);
  }
}

/* from here on grid containers */
.gridcontainerstandard {
  display: grid;
  margin: 1rem;
  gap: 1rem;
  grid-auto-columns: 1fr;
  padding-block: 2rem;
  grid-template-columns: repeat(1, 1fr);
}

.gridcontainerintro {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  padding-block: 2rem;
  grid-template-areas:
    "one one . "
    "two three ."
    "four four four"
    "five five five"
    "six seven seven"
    "eight nine nine"
    "ten ten .";
}

.gridcontainerdatapath {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  padding-block: 2rem;
  grid-template-areas:
    "one one ."
    "two two ."
    "three three ."
    "four four ."
    "five five ."
    "six six .";
}

.gridcontainercontrol {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  padding-block: 2rem;
  grid-template-areas:
    "one"
    "two"
    "three";
}

.gridcontainerstruct {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  padding-block: 2rem;
  grid-template-areas:
    "one one ."
    "two two two";
}

.gridcontainerdata {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  padding-block: 2rem;
  grid-template-areas:
    "one one ."
    "two two two";
}

/* threshold for displaying grid items in desktop layout, for mobile layout see default above */
@media screen and (max-width: 800px) {
  .gridcontainerstandard {
    grid-template-columns: repeat(1, 1fr);
  }

  .gridcontainerintro,
  .gridcontainerdatapath,
  .gridcontainerstruct,
  .gridcontainerdata,
  .gridcontainercontrol {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine"
      "ten";
  }
}

.griditem {
  min-width: 100px;
  min-height: 100px;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
}

.testgriditem,
.introgriditem,
.datapathgriditem,
.structgriditem,
.datagriditem,
.controlgriditem {
  color: black;
  padding: 1rem;
  /* border-radius: 0rem; */
  svg {
    width: 100%;
  }
}

.introgriditem:nth-child(1) {
  grid-area: one;
}
.introgriditem:nth-child(2) {
  grid-area: two;
}
.introgriditem:nth-child(3) {
  grid-area: three;
}
.introgriditem:nth-child(4) {
  grid-area: four;
}
.introgriditem:nth-child(5) {
  grid-area: five;
}
.introgriditem:nth-child(6) {
  grid-area: six;
}
.introgriditem:nth-child(7) {
  grid-area: seven;
}
.introgriditem:nth-child(8) {
  grid-area: eight;
}
.introgriditem:nth-child(9) {
  grid-area: nine;
}
.introgriditem:nth-child(10) {
  grid-area: ten;
}

.datapathgriditem:nth-child(1) {
  grid-area: one;
}
.datapathgriditem:nth-child(2) {
  grid-area: two;
}
.datapathgriditem:nth-child(3) {
  grid-area: three;
}
.datapathgriditem:nth-child(4) {
  grid-area: four;
}
.datapathgriditem:nth-child(5) {
  grid-area: five;
}
.datapathgriditem:nth-child(6) {
  grid-area: six;
}

.structgriditem:nth-child(1) {
  grid-area: one;
}
.structgriditem:nth-child(2) {
  grid-area: two;
}

.datagriditem:nth-child(1) {
  grid-area: one;
}
.datagriditem:nth-child(2) {
  grid-area: two;
}
.datagriditem:nth-child(3) {
  grid-area: three;
}

.exercise {
  background-color: lightgrey;
  border-radius: 1rem;
  margin: 1rem;
}

#editor {
  width: 100%;
  height: 100%;
}

#editor * {
  font-family: monospace !important;
  font-size: 16px !important;
  direction: ltr !important;
  text-align: left !important;
}

#showcodehere {
  white-space: pre; /* preserves whitespace of text if inserted in HTML */
}

#example-singlecycle {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  /* height: fit-content; */
  th {
    border: 1px dashed black;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

#example-pipelined {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  width: 46%;
  /* height: fit-content; */
  th {
    border: 1px dashed black;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

#example-structhazard {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
  /* height: fit-content; */
  th {
    border: 1px dashed black;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

span.frac {
  display: inline-block;
  text-align: center;
}
span.frac > sup {
  display: block;
  border-bottom: 1px solid;
  font: inherit;
}
span.frac > span {
  display: none;
}
span.frac > sub {
  display: block;
  font: inherit;
}

#structForm2 {
  display: none;
}

#colorByClick {
  user-select: none;
  g {
    cursor: pointer;
  }
}

.coloredwire {
  stroke: #1ec3e0 !important;
  stroke-width: 0.25mm !important;
}

.coloredcomponent {
  fill: #1ec3e0 !important;
}

#exercisecontainer {
  position: relative;
  z-index: 0;
}

#exercisecontainer2 {
  position: relative;
  z-index: 0;
  user-select: none;
}

#forwardLines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* sortable js styles*/
.tinted {
  background-color: #fff6b2;
}

#pipelineTable {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
  height: fit-content;
  min-height: 600px;
  th {
    border: 1px dashed black;
  }
  td {
    width: 10%;
    height: 10%;
    white-space: nowrap;
  }
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.offsetBefore,
.offsetAfter {
  background-color: transparent;
}
